@font-face {
  font-family: 'HakgyoansimMalgeunnalB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimMalgeunnalB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

canvas {
  width: 800px;
  height: 575px;
}

#doctor-form input[type="text"], #patient-form input[type="text"] {
  width: 50%;
}